/* Calendar */
.fa-calendar, .fa-clock{float:left;display:inline-block;font:900 20px/40px 'Font Awesome 5 Free';color:#657786;position:relative;margin:0 0 0 -30px}
.ui-widget.ui-widget-content{border:1px solid #b8c6d9;border-radius:8px;overflow:hidden}
.ui-widget.ui-widget-content.ui-datepicker-multi-2{width:300px!important}
.ui-widget.ui-widget-content.ui-datepicker-multi-3{width:900px!important}
.ui-widget-header{background:#e6ebf2;border-width:0 1px 1px 0;border-style:solid;border-color:#b8c6d9;border-radius:0}
.ui-widget-header a{background:#b8c6d9;border:0;border-radius:50%}
.ui-widget-header a:hover{border:1px solid transparent}
.ui-datepicker .ui-datepicker-title{float:left;display:inline-block;font:14px/40px "Open Sans", sans-serif;height:40px;margin:0 45px;min-width:unset!important;width:calc(100% - 90px)}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{min-width:unset}
.ui-datepicker select.ui-datepicker-year{float:right}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{background:#fff;border:1px solid #e6ebf2;color:#657786;border-radius:4px;text-align:center;font:14px/35px "Open Sans", sans-serif;padding:0;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus{border:1px solid #e6ebf2;background:#e6ebf2;color:#000}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{background:#2196f3;border:1px solid #2196f3;color:#fff}
.ui-widget-header a:hover{border:none}

.ui-datepicker{width:320px;padding:0;z-index:5!important}
.ui-datepicker .ui-datepicker-header{padding:5px}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-next-hover{width:36px;height:36px;top:7px;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-prev-hover{left:5px}
.ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-next-hover{right:5px}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{display:none}
.ui-datepicker .ui-datepicker-prev:before, .ui-datepicker .ui-datepicker-prev-hover:before{content:"\f053";float:left;display:inline-block;width:36px;height:36px;position:absolute;left:0;top:0;z-index:1;font:900 17px/36px "Font Awesome 5 Free";color:#fff}
.ui-datepicker .ui-datepicker-next:before, .ui-datepicker .ui-datepicker-next-hover:before{content:"\f054";float:left;display:inline-block;width:36px;height:36px;position:absolute;left:0;top:0;z-index:1;font:900 17px/36px "Font Awesome 5 Free";color:#fff}
.ui-datepicker .ui-datepicker-prev-hover{background:#b8c6d9;color:#000;right:unset;font-weight:400}
.ui-datepicker .ui-datepicker-next-hover{background:#b8c6d9;color:#000;left:unset;font-weight:400}
.ui-datepicker .ui-datepicker-prev-hover span, .ui-datepicker .ui-datepicker-next-hover span{display:none}
.ui-datepicker th{padding:10px;font:14px/30px "Open Sans Bold", sans-serif}
.ui-datepicker table.ui-datepicker-calendar{margin:0 5px 5px;width:calc(100% - 10px)}
.ui-datepicker-trigger {
    background-color: #fff;
    border: none;
    padding: 0;
}

.ui-datepicker {
    font-size: 1rem;
}

.ui-datepicker-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
    color: #333;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
}

.ui-datepicker-title {
    margin-bottom: 0.5rem;
}

.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
    border: none;
    text-align: center;
}

.ui-datepicker-calendar td a {
    background-color: #fff;
    border: 1px solid #e7e7e7;
    color: #333;
    display: block;
    padding: 0.5rem;
}

.ui-datepicker-calendar td a:hover {
    background-color: #f7f7f7;
    color: #333;
}

.ui-datepicker-current {
    background-color: #fff;
    border: 1px solid #e7e7e7;
    color: #333;
    display: block;
    margin-top: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}