{% extends 'XLabsCentroBillBundle::layout.html.twig' %}

{% block xlabs_centrobill_content %}
    {% if status == 'SUCCESS' %}
        {% include 'XLabsCentroBillBundle:response:success.html.twig' %}
    {% elseif status == 'ERROR' %}
        {% include 'XLabsCentroBillBundle:response:error.html.twig' with {
            'message': message
        } %}
    {% endif %}
{% endblock xlabs_centrobill_content %}