{% block form_row %}
    {% apply spaceless %}
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    {% endapply %}
{% endblock form_row %}

{% block form_errors %}
    {% apply spaceless %}
        {% if errors|length > 0 %}
            {% set aErrors = [] %}
            {% for error in errors %}
                {{ app.session.flashBag.add('form_errors', ('<i class="fa fa-times" aria-hidden="true"></i> '~error.messageTemplate|trans(error.messageParameters, 'validators'))|raw) }}
            {% endfor %}
        {% endif %}
    {% endapply %}
{% endblock form_errors %}

{% block checkbox_row %}
    {% apply spaceless %}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {#{ form_label(form) }#}
        {{ form_label(form, null, {
            'label_attr': {'class': 'checkbox_label'}
            })
        }}
    {% endapply %}
{% endblock checkbox_row %}