{% extends 'XLabsCentroBillBundle::layout.html.twig' %}

{% form_theme form _self 'XLabsCentroBillBundle:feed:form_controls.html.twig' %}

{% block head %}
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    {#
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    #}
    <script src="{{ asset('bundles/xlabscentrobill/feed/jquery-3.6.1.min.js') }}"></script>
    {# Sweet alert plugin #}
    <script src="{{ asset('bundles/xlabscentrobill/feed/sweetalert2/sweetalert2.all.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/xlabscentrobill/feed/sweetalert2/sweetalert2.min.css') }}?{{ 'now'|date('U') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/xlabscentrobill/feed/sweetalert2/bootstrap-4.css') }}?{{ 'now'|date('U') }}" />
    {# jQuery UI #}
    <script src="{{ asset('bundles/xlabscentrobill/feed/jquery-ui/jquery-ui.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/xlabscentrobill/feed/jquery-ui/jquery-ui.css') }}?{{ 'now'|date('U') }}" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">

    <link rel="stylesheet" href="{{ asset('bundles/xlabscentrobill/feed/bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ asset('bundles/xlabscentrobill/feed/bootstrap/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/xlabscentrobill/feed/dataTables/datatables.min.css') }}"/>
    <script type="text/javascript" src="{{ asset('bundles/xlabscentrobill/feed/dataTables/datatables.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/xlabscentrobill/feed/json-viewer/jquery.json-viewer.css') }}"/>
    <script type="text/javascript" src="{{ asset('bundles/xlabscentrobill/feed/json-viewer/jquery.json-viewer.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/xlabscentrobill/feed/datepicker.css') }}"/>
    <style>
        :root{--bs-body-font-size:.8rem;}
        pre.json-renderer {
            font-family: var(--bs-body-font-family);
            font-size: var(--bs-body-font-size);
            font-weight: var(--bs-body-font-weight);
            line-height: var(--bs-body-line-height);
            color: var(--bs-body-color);
            text-align: var(--bs-body-text-align);
        }
        .json-document {padding: 0;}
        #dataTable {width: 100%!important;}
        #dataTable thead tr {background: #212529; color: #ffffff;}
        #dataTable td, #dataTable th {border: 1px solid rgba(238, 238, 238, 0.5);}
    </style>
{% endblock head %}

{% block xlabs_centrobill_content %}
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><img src="{{ asset('bundles/xlabscentrobill/feed/images/centrobill.png') }}" style="width: 40px;border-radius: 20px;"></span><span style="margin-left: 10px;">CentroBill Feed</span></a><button class="navbar-toggler" data-bs-toggle="collapse"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
    </nav>

    <div style="width: 98%; margin: 20px auto;">
        <div class="card shadow" style="margin: 20px auto;">
            <div class="card-header py-1">
                <p class="text-primary m-0 fw-bold">{{ 'feed.form.title'|trans({}, 'centrobill_feed') }}</p>
            </div>
            <div class="card-body">
                <fieldset>
                    {% set form_id = 'cb_feed' %}
                    {{ form_errors(form) }}
                    {{ form_start(form, {
                        'attr': {
                            'id': form_id
                        }
                    }) }}

                    <div class="row mb-3">
                        <div class="col-md-2">
                            {{ form_row(form.siteName) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    {{ form_label(form.dateFrom) }}
                                    <div class="input-group">
                                        <span class="input-group-text">
                                        <i class="fas fa-calendar-alt"></i>
                                        </span>
                                        {{ form_widget(form.dateFrom) }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    {{ form_label(form.dateTo) }}
                                    <div class="input-group">
                                        <span class="input-group-text">
                                        <i class="fas fa-calendar-alt"></i>
                                        </span>
                                        {{ form_widget(form.dateTo) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#
                        <!-- This one doesnt seem to work -->
                    <div class="col-md-3">
                        {{ form_row(form.cardLast4Digits) }}
                    </div>
                        #}
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2">
                            {{ form_row(form.ustas) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.transactionId) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.uuid) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.orderId) }}
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_row(form.status) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.mode) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.search_type) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="row">
                            <div class="col-auto">
                                {{ form_row(form.reset) }}
                            </div>
                            <div class="col-auto">
                                {{ form_row(form.submit) }}
                            </div>
                        </div>
                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </fieldset>
            </div>
        </div>

        <div class="card shadow" style="margin: 20px auto;">
            <div class="card-header py-1">
                <p class="text-primary m-0 fw-bold">{{ 'feed.results.title'|trans({}, 'centrobill_feed') }}</p>
            </div>
            <div class="card-body" style="padding-top: 0;">
                <table class="table my-0" id="dataTable">
                    <thead>
                    <tr>
                        {# <th></th> #}
                        <th>{{ 'feed.results.headers.payment'|trans({}, 'centrobill_feed') }}</th>
                        <th>{{ 'feed.results.headers.consumer'|trans({}, 'centrobill_feed') }}</th>
                        <th>{{ 'feed.results.headers.subscription'|trans({}, 'centrobill_feed') }}</th>
                        <th>{{ 'feed.results.headers.metadata'|trans({}, 'centrobill_feed') }}</th>
                        <th>{{ 'feed.results.headers.all'|trans({}, 'centrobill_feed') }}</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        {# <th></th> #}
                        <th>{{ 'feed.results.headers.payment'|trans({}, 'centrobill_feed') }}</th>
                        <th>{{ 'feed.results.headers.consumer'|trans({}, 'centrobill_feed') }}</th>
                        <th>{{ 'feed.results.headers.subscription'|trans({}, 'centrobill_feed') }}</th>
                        <th>{{ 'feed.results.headers.metadata'|trans({}, 'centrobill_feed') }}</th>
                        <th>{{ 'feed.results.headers.all'|trans({}, 'centrobill_feed') }}</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.datepicker').datepicker({
                //format: 'yyyy-mm-dd'
                dateFormat: 'dd-mm-yy',
            {#
                minDate: {{ minDate ? ('new Date("'~minDate~'")')|raw : 'null' }},
                maxDate: {{ maxDate ? ('new Date("'~maxDate~'")')|raw : 'null' }},
            #}
                firstDay: 1,
                changeMonth: true,
                changeYear: true,
                yearRange: '2023:{{ ("now"|date('Y')) + 5 }}',
                beforeShow: function(input, inst) {
                    setTimeout(function() {
                        let $monthPicker = $(inst.dpDiv).find('.ui-datepicker-month'),
                            $yearPicker = $(inst.dpDiv).find('.ui-datepicker-year');
                        $monthPicker.addClass('form-select');
                        $yearPicker.addClass('form-select ms-2');
                        $monthPicker.addClass('flex-grow-1');
                        $monthPicker.add($yearPicker).wrapAll('<div class="d-flex"></div>');
                    }, 0);
                },
                onChangeMonthYear: function(year, month, inst) {
                    setTimeout(function() {
                        let $monthPicker = $(inst.dpDiv).find('.ui-datepicker-month'),
                            $yearPicker = $(inst.dpDiv).find('.ui-datepicker-year');
                        $monthPicker.addClass('form-select');
                        $yearPicker.addClass('form-select ms-2');
                        $monthPicker.addClass('flex-grow-1');
                        $monthPicker.add($yearPicker).wrapAll('<div class="d-flex"></div>');
                    }, 0);
                }
            });

            $.fn.dataTable.ext.errMode = 'none';
            let dt = $('table#dataTable').on('init.dt', function(){
                // Remove bottom headings
                $('.dataTables_wrapper tfoot').remove();
            }).on('xhr.dt', function(e, settings, json, xhr) {

            }).on('draw.dt', function(){ // same as 'drawCallback'
                //Swal.close();
            }).DataTable({
                processing: true,
                serverSide: true,
                deferLoading: 0, // Prevents initial data load
                width: '100%',
                rowBorder: '1px solid #ddd',
                stripeClasses: ['', 'table-light'],
                serverMethod: 'post',
                ajax: {
                    url: '{{ path('xlabs_centrobill_feed_load') }}',
                    dataSrc: function(json) {
                        if(json.error)
                        {
                            Swal.fire({
                                icon: 'error',
                                title: '',
                                text: json.error
                            });
                            return [];
                        } else {
                            return json.aaData;
                        }
                    },
                    data: function(d) {
                        // Serialize the form data and add it to the request
                        let formData = $('#{{ form_id }}').serializeArray();
                        let formParams = {};
                        formData.forEach(function(item){
                            formParams[item.name] = item.value;
                        });
                        d.feed_params = formParams;
                    },
                    beforeSend: function(){
                        Swal.fire({
                            title: '',
                            html: 'Loading feed ...',
                            showConfirmButton: false,
                            allowOutsideClick: false
                        });
                    }
                },
                //dom: "Bflrt<'col-md-6 align-self-center'i><'col-md-6'p>",
                dom: "Blrt<'col-md-6 align-self-center'i><'col-md-6'p>",
                columns: [
                    /*{ data: null, orderable: false, defaultContent: '<i class="fas fa-list-alt"></i>', width: '2%' },*/
                    {
                        data: 'payment',
                        orderable: false,
                        render: function(data, type, row) {
                            let $elem = $('<pre />').addClass('json-renderer').attr('data-json', encodeURIComponent(data));
                            return $elem.prop('outerHTML');
                        },
                        width: '20%'
                    },
                    {
                        data: 'consumer',
                        orderable: false,
                        render: function(data, type, row) {
                            let $elem = $('<pre />').addClass('json-renderer').attr('data-json', encodeURIComponent(data));
                            return $elem.prop('outerHTML');
                        },
                        width: '20%'
                    },
                    {
                        data: 'subscription',
                        orderable: false,
                        render: function(data, type, row) {
                            let $elem = $('<pre />').addClass('json-renderer').attr('data-json', encodeURIComponent(data));
                            return $elem.prop('outerHTML');
                        },
                        width: '20%'
                    },
                    {
                        data: 'metadata',
                        orderable: false,
                        render: function(data, type, row) {
                            let $elem = $('<pre />').addClass('json-renderer').attr('data-json', encodeURIComponent(data));
                            return $elem.prop('outerHTML');
                        },
                        width: '20%'
                    },
                    {
                        data: 'all',
                        orderable: false,
                        render: function(data, type, row) {
                            let $wrapper = $('<div />');
                            let $elem = $('<pre />').addClass('json-renderer').attr('data-json', encodeURIComponent(data.record));
                            let $ipn = $('<a />').attr({
                                'href': data.ipn,
                                'target': '_blank'
                            }).text('Send IPN').addClass('btn btn-success btn-sm bg-success bg-gradient');
                            $wrapper.append($elem).append($ipn);

                            // show refund button?

                            return $wrapper.prop('outerHTML');
                        },
                        width: '20%'
                    }
                ],
                drawCallback: function(settings) {
                    $('table#dataTable .json-renderer').each(function(i, v){
                        $(v).jsonViewer(JSON.parse(decodeURIComponent($(v).attr('data-json'))), {
                            collapsed: true,
                            rootCollapsable: false,
                            withQuotes: false,
                            withLinks: false,
                            bigNumbers: false
                        });
                    });
                    // Check if there has been an error so that it doesnt autoclose
                    let api = this.api();
                    let json = api.ajax.json();
                    if(!(typeof json === 'object' && json !== null && json.hasOwnProperty('error')))
                    {
                        Swal.close();
                    }
                },
                //order: [[1, 'asc']],
                language: {
                    lengthMenu: 'Display <select class="d-inline-block form-select form-select-sm">'+
                        '<option value="1">1</option>'+
                        '<option value="5">5</option>'+
                        '<option value="10">10</option>'+
                        '<option value="15">15</option>'+
                        '<option value="20">20</option>'+
                        '<option value="25">25</option>'+
                        '<option value="50">50</option>'+
                        '<option value="-1">All</option>'+
                        '</select>',
                    search: '_INPUT_',
                    searchPlaceholder: 'Search',
                    info: 'Showing _START_ to _END_ of _TOTAL_',
                    paginate: {
                        first: '<span aria-hidden="true">«</span>',
                        previous: '<span aria-hidden="true">‹</span>',
                        next: '<span aria-hidden="true">›</span>',
                        last: '<span aria-hidden="true">»</span>'
                    },
                    emptyTable: '<i>No data found</i>'
                },
                paginationType: 'full_numbers',
                displayLength: 5
            });

            // Submit the form and reload the DataTable with the new filter parameters
            $('#{{ form_id }}').on('submit', function(e){
                e.preventDefault();
                dt.ajax.reload();
            });
        });
    </script>
{% endblock xlabs_centrobill_content %}